dblp.xml/
disambiguation/disambiguate.py
disambiguation_same_name.csv
disambiguation_similar_names.csv

# configuration files
config.yaml

#orchid/doi extractoin
paper_dois.csv
paper_no_dois.csv
author_orcids.csv

# pickled graphs
analysis/multigraph.pkl
analysis/graph.pkl
analysis/graphs/
analysis/__pycache__/
database_load/__pycache__/

# CSVs
analysis/metrics/